@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

@model List<Item>

<h2 style="margin-bottom:3px">Your Account</h2>
@if (Context.Request.Query["success"].FirstOrDefault() == "true") {
	<div class="alert alert-success">
		<h4 class="alert-heading">Success!</h4>
		The item has been removed from cart.
	</div>
}
@if (Context.Request.Query["submit"].FirstOrDefault() == "true") {
	<div class="alert alert-success">
		<h4 class="alert-heading">Success!</h4>
		Your order has been submitted!
	</div>
}
<div style="margin-top:0px">
	<a href="/account/update" class="btn-light btn" style="margin-right: 0px; margin-top: 0px">Update Account</a>
</div>
<div style="width:70%">
	@if (Model.Any()) {
		<br /><hr /><br />
		int j = 0;
		@foreach (Item i in Model) {
			<div class="frame" style="height:95px; width:100%">
				<div style="width:20%; float:left; overflow:hidden">
					<img style="height: 75px; width:105px; float:left;" src="@Url.Content(String.Format("~{0}", i.ImgURL))" />
				</div>
				<div style="width:55%; float:left; overflow:hidden; padding: 0px 5px 0px 3%">
					<label style="font-size:18px; margin-bottom:-3px">@i.Name @i.Category</label>
				</div>
				<div style="width:25%; float:left; overflow:hidden; text-align:center">
					<label style="font-size:18px; font-weight:normal; display:table-cell; vertical-align:bottom;">Price: @i.Price</label>
					<div style="margin-top:0px">
						<a href=@string.Format("/cart/remove/{0}", j.ToString()) class="btn-warning btn" style="margin-right: 0px; margin-top: 0px">-</a>
					</div>
				</div>
			</div>
			j++;
		}
		<div style="margin-top:0px">
			<form method="post" asp-action="submit" asp-controller="account">
				<input type="hidden" name="submit" value="true" />
				<input type="submit" value="Submit Order" href="/account/submit" class="btn-primary btn" style="margin-right: 0px; margin-top: 0px" />
			</form>
		</div>
	}
	else {
		<div class="alert alert-info">
			<h4 class="alert-heading">Your cart is empty.</h4>
		</div>
	}
</div>
